* {
  font-family: "Roboto", sans-serif;
}

#root {
  background-color: white;
  overflow: hidden;
}

#Logo {
  height:35px;
  margin: 0 auto;
  display: block;
}

#TopNavBar {
  font-weight: bold;
}

#TopNavBar .custom-link {
  position: relative;
  color: black;
  overflow: hidden;
}

#TopNavBar .custom-link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

#TopNavBar .custom-link:hover::after {
  width: 100%;
}

.map-container {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
}

#info-container .collapse,
.collapsing {
  overflow: auto;
  max-height: 48vh;
}

#metro-select .btn-metro-select {
  width: 100%;
  text-align: left;
  border-radius: 0;
}
#metro-select .btn-metro-select:hover {
  background-color: lightgreen;
  color: darkslategray;
}
#metro-select .btn-metro-select:focus {
  background-color: limegreen;
  color: darkslategray;
  font-weight: bolder;
}

#google-map-container {
  height: 80vh;
  background-color: white;
  padding: 0px;
  border-radius: 10px;
}

#google-map-container iframe {
  height: 80vh;
  background-color: white;
  padding: 0px;
  border-radius: 10px;
}

#google-map-container img {
  height: 100%;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

#metro-select .btn-route-map {
  width: 100%;
  font-weight: bolder;
  color: darkslategray;
  background-color: limegreen;
}

#metro-select .btn-route-map:hover {
  color: white;
  background-color: darkslategray;
}

#style {
  background-color: darkslategray;
  border-radius: 10px 0px 0px 10px;
  padding-right: 18vh;
}

@media (max-width: 768px) {
  #style {
    border-radius: 0;
    padding-right: 4vh;
  }
}

#Tracker {
  background-color: darkslategray;
  border-radius: 10px;
}

#map-box-container div {
  border-radius: 10px;
}