* {
  font-family: "Roboto", sans-serif;
}

#root {
  background-color: white;
  overflow: hidden;
}

#Logo {
  height:35px;
  margin: 0 auto;
  display: block;
}

#TopNavBar {
  font-weight: bold;
}

#TopNavBar .custom-link {
  position: relative;
  color: black;
  overflow: hidden;
}

#TopNavBar .custom-link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

#TopNavBar .custom-link:hover::after {
  width: 100%;
}

.map-container {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
}

#info-container .collapse,
.collapsing {
  overflow: auto;
  max-height: 48vh;
}

#metro-select .btn-metro-select {
  width: 100%;
  text-align: left;
  border-radius: 0;
}
#metro-select .btn-metro-select:hover {
  background-color: lightgreen;
  color: darkslategray;
}
#metro-select .btn-metro-select:focus {
  background-color: limegreen;
  color: darkslategray;
  font-weight: bolder;
}

#google-map-container {
  height: 80vh;
  background-color: white;
  padding: 0px;
  border-radius: 10px;
}

#google-map-container iframe {
  height: 80vh;
  background-color: white;
  padding: 0px;
  border-radius: 10px;
}

#google-map-container img {
  height: 100%;
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

#metro-select .btn-route-map {
  width: 100%;
  font-weight: bolder;
  color: darkslategray;
  background-color: limegreen;
}

#metro-select .btn-route-map:hover {
  color: white;
  background-color: darkslategray;
}

#style {
  background-color: darkslategray;
  border-radius: 10px 0px 0px 10px;
  padding-right: 18vh;

}
#style-two{
  background-color: darkslategray;
  border-radius: 10px ;
  color: whitesmoke;
  margin:10px;
  padding: 7px 0 7px 15px;
  margin:10px;
}
#feature{
  margin:10px;
}
@media (max-width: 768px) {
  #style {
    border-radius: 0;
    padding-right: 4vh;
  }
}

#Tracker {
  background-color: darkslategray;
  border-radius: 10px;
}

#map-box-container div {
  border-radius: 10px;
}

.feature-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.feature {
  display: flex;
  align-items: center;
  max-width: 600px;
  margin:  0 10px 30px 10px;
  background-color: rgba(0, 0, 0, 0.1); /* Darker background color */
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.feature img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.text-content {
  flex-grow: 1;
  padding: 20px;
  border-radius: 10px;

}

.text-content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 1rem;
  color: #666;
}
